<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css">
  </head>

  <body>

    <div class="w3-container w3-mobile w3-indigo w3-large w3-padding">
      <b>{{.Title}} Bids</b>
    </div>

    <div class="w3-bar w3-mobile w3-light-grey">
      <div class="w3-bar-item w3-mobile"><a href="/gallery">Gallery</a></div>
      {{ if .User.IsAdmin }}
      <div class="w3-bar-item w3-mobile"><a href="/edit/0">New Item</a></div>
      {{ end }}
      <div class="w3-bar-item w3-mobile w3-right">
        {{if .User.Username}}
        <a href="/logout">Logout {{.User.Username}}</a>
        {{else}}
        <a href="/login?r=/items">Login</a>
        {{end}}
      </div>
    </div>

    {{ if .User.Username }}
    <table class="w3-table w3-mobile w3-responsive">
      <thead> <tr>
        <th>ID</th>
        <th>Item</th>
        <th class="w3-right-align">Opening</th>
        <th class="w3-right-align">Increment</th>
        <th class="w3-center">Bids</th>
      </tr> </thead>
      {{ range .Items }}
      <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Artist }} {{ .Title }}</td>
        <td class="w3-right-align">{{ printf "$%.2f" .OpeningBid }}</td>
        <td class="w3-right-align">{{ printf "$%.2f" .MinBidIncr }}</td>
        <td class="w3-center">
          <u onclick="ToggleBids('{{.ID}}')">{{ len .Bids }}</u>
        </td>
      </tr>

      <tr>
        <td colspan="5">
          <table id="{{ .ID }}" class="w3-table w3-striped w3-mobile w3-hide">
            <thead> <tr>
              <th>Placed</th>
              <th>Amount</th>
              <th>Bidder</th>
              {{if $.User.IsAdmin}}
              <th>Full Name</th>
              <th>Email</th>
              {{end}}
            </tr> </thead>
            {{range .Bids}}
            <tr>
              <td>{{(ToTimeZone .Created "America/Chicago").Format "01/02/06 03:04 pm MST"}}</td>
              <td class="w3-right-align">${{printf "%.2f" .Amount}}</td>
              <td>{{.Bidder}}</td>
              {{if $.User.IsAdmin}}
              <td>{{.FullName}}</td>
              <td>{{.Email}}</td>
              {{end}}
            </tr>
            {{end}}
          </table>
        </td>
      </tr>
      {{ end }}
    </table>
    {{ else }}
    <div class="w3-panel w3-pale-red">
      You must <a href="/login?r=/bids">Login</a>
    </div>
    {{ end }}


    <script>
      function ToggleBids(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
  </body>
</html>
