<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>{{.Title}} - Bids</title>
  <link rel="stylesheet" href="/pico.min.css">
  <link rel="stylesheet" href="/gobid.css">
  <style>
    /* collapse logic */
    tbody.item > tr.bids { display: none; }
    tbody.item:has(details[open]) > tr.bids { display: table-row; }
  </style>
</head>

<body>
  <header class="container with-line">
    <nav>
      <ul>
        <li><strong>{{.Title}}</strong></li>
      </ul>
      <ul>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
      <ul>
        {{if .User.Username}}
        <li><a href="/logout">Logout {{.User.Username}}</a></li>
        {{else}}
        <li><a href="/login?r=/bids">Login</a></li>
        {{end}}
      </ul>
    </nav>
  </header>

  <main class="container">
    {{if .User.Username}}
    <table class="striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Item</th>
          <th data-align="right">Opening</th>
          <th data-align="right">Increment</th>
          <th data-align="center">Bids</th>
        </tr>
      </thead>

      {{range .Items}}
      <tbody class="item">
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Title}}<br>{{.Artist}}</td>
          <td data-align="right">{{printf "$%.2f" .OpeningBid}}</td>
          <td data-align="right">{{printf "$%.2f" .MinBidIncr}}</td>
          <td data-align="center">
            <details>
              <summary>{{len .Bids}}</summary>
            </details>
          </td>
        </tr>

        <tr class="bids">
          <td colspan="5">
            <table>
              <thead>
                <tr>
                  <th>Placed</th>
                  <th data-align="right">Amount</th>
                  <th>Bidder</th>
                  {{if $.User.IsAdmin}}
                  <th>Full Name</th>
                  <th>Email</th>
                  {{end}}
                </tr>
              </thead>
              <tbody>
              {{range .Bids}}
                <tr>
                  <td>{{(ToTimeZone .Created "America/Chicago").Format "01/02/06 03:04 pm MST"}}</td>
                  <td  data-align="right">${{printf "%.2f" .Amount}}</td>
                  <td>{{.Bidder}}</td>
                  {{if $.User.IsAdmin}}
                  <td>{{.FullName}}</td>
                  <td>{{.Email}}</td>
                  {{end}}
                </tr>
              {{end}}
              </tbody>
          </table>
        </td>
      </tr>
      </tbody>
      {{end}}
    </table>
    {{else}}
    <p>You must <a href="/login?r=/bids">Login</a> to view bids.</p>
    {{end}}
  </main>
</body>
</html>
