<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/w3.css" />
  </head>
  <body>
    <div class="w3-container w3-indigo w3-large w3-padding">
      <b>{{ .Title }} Item</b>
    </div>

    <div class="w3-bar w3-light-grey w3-mobile">
      <div class="w3-bar-item w3-mobile">
        <a href="/items">Return to Items</a>
      </div>
      <div class="w3-bar-item w3-mobile">
        <a href="/edit/{{ .Item.ID }}">Refresh Item</a>
      </div>
      <div class="w3-bar-item w3-right w3-mobile">
      {{ if .User.UserName }}
        <a href="/logout">Logout {{ .User.UserName }}</a>
      {{ else }}
	<a href="/login">Login</a>
      {{ end }}
      </div>
    </div>

    <form method="post" class="w3-container">
      {{ with .Item }}
      <p>
        <label class="w3-text-grey"><b>ID</b></label>
        <input class="w3-input" type="number" id="id" name="id" value="{{ .ID }}" disabled />
      </p>

      <p>
        <label><b>Title</b></label>
        <input class="w3-input" type="text" id="title" name="title" value="{{ .Title }}" maxlength="40" required />
      </p>

      <p>
        <label><b>Description</b></label>
        <input class="w3-input" type="text" id="description" name="description" value="{{ .Description }}" maxlength="255" required />
      </p>

      <p>
        <label><b>Opening Bid</b></label>
        <input class="w3-input" type="number" id="openingBid" name="openingBid" value="{{ .OpeningBid }}" required min="0" />
      </p>

      <p>
        <label><b>Minimum Bid Increment</b></label>
        <input class="w3-input" type="number" id="minBidIncr" name="minBidIncr" value="{{ .MinBidIncr }}" required min="0" />
      </p>

      <p>
        <label><b>Artist</b></label>
        <input class="w3-input" type="text" id="artist" name="artist" value="{{ .Artist }}" maxlength="30" required />
      </p>

      <p>
        <label><b>Image File</b></label>
        <input class="w3-input" type="text" id="imageFileName" name="imageFileName" value="{{ .ImageFileName }}" maxlength="255" required />
      </p>
      {{ end }}
      {{if .User.Admin}}
        <button type="submit" class="w3-button w3-indigo">Update</button>
      {{end}}
    </form>
    {{if .Message}}
      <div class="w3-panel w3-text-red"><b>{{.Message}}</b></div>
    {{end}}
  </body>
</html>
