<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <meta name="description" content="List of system events.">
  <title>{{.Title}} - Events</title>
  <link rel="stylesheet" href="/pico.min.css">
  <link rel="stylesheet" href="/gobid.css">
</head>

<body>
  <header class="app-header">
    <nav class="container" aria-label="Primary navigation">
      <ul>
        <li><a href="/"><strong>{{.Title}}</strong></a></li>
      </ul>
      {{if .User.IsAdmin}}
      <ul>
        <li><a href="/eventscsv">Download CSV</a></li>
      </ul>
      {{end}}
      <ul>
        {{if .User.Username}}
        <li><a href="/logout">Logout {{.User.Username}}</a></li>
        {{else}}
        <li><a href="/login?r=/events">Login</a></li>
        {{end}}
      </ul>
    </nav>
  </header>

  <main class="container-fluid">
    <h1 class="text-center">{{.Title}} System Events</h1>

    {{if .User.IsAdmin}}
    <table class="striped">
      <caption>System event log with status, user, message, and time</caption>
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col" data-align="center">Succeeded</th>
          <th scope="col">Username</th>
          <th scope="col">Message</th>
          <th scope="col">When</th>
        </tr>
      </thead>

      <tbody>
      {{range .Events}}
        <tr>
          <td>{{.Name}}</td>
          <td
            data-align="center"
            data-status="{{if .Succeeded}}success{{else}}failure{{end}}"
          >
          {{if .Succeeded}}
            &check;<span class="visually-hidden">Succeeded</span>
          {{else}}
            &cross;<span class="visually-hidden">Failed</span>
          {{end}}
          </td>
          <td>{{.Username}}</td>
          <td>{{.Message}}</td>
          <td>{{(ToTimeZone .Created "America/Chicago").Format "2006-01-02 03:04 PM MST"}}</td>
        </tr>
      {{end}}
      </tbody>
    </table>
    {{else}}
    <p>
      You must <a href="/login?r=/events">Login</a> as an administrator
      to see events.
    </p>
    {{end}}
  </main>
</body>

</html>
