<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css">
  </head>
  <body>
    <div class="w3-container w3-mobile w3-indigo w3-large w3-padding">
      <b>{{ .Title }} Events</b>
    </div>
    {{ if .User.IsAdmin }}
    <div class="w3-bar w3-mobile w3-light-grey">
      <div class="w3-bar-item w3-mobile">
        <a href="/">Home</a>
      </div>
      <div class="w3-bar-item w3-mobile">
        <a href="/eventscsv">Download</a>
      </div>
      <div class="w3-bar-item w3-mobile w3-right">
        <a href="/logout">Logout {{.User.UserName}}</a>
      </div>
    </div>
    {{ end }}

    {{ if .User.IsAdmin }}
    <table class="w3-container w3-mobile w3-table w3-striped w3-responsive">
      <tr>
	<th>Event Name</th>
	<th class="w3-center">Success</th>
	<th>UserName</th>
	<th>Message</th>
	<th>Created</th>
      </tr>
      {{ range .Events }}
      <tr>
	<td>{{ .Name }}</td>
	<td class="w3-center">{{ .Success }}</td>
	<td>{{ .UserName }}</td>
	<td>{{ .Message }}</td>
	<td>{{ (ToTimeZone .Created "America/Chicago").Format "2006-01-02 03:04 PM MST" }}</td>
      </tr>
      {{ end }}
    </table>
    {{ else }}
    <div class="w3-panel w3-pale-red">
      You must <a href="/login?r=/events">Login</a> as an administrator to see events.
    </div>
    {{ end }}

  </body>
</html>
