<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>{{.Title}} Events</title>
  <link rel="stylesheet" href="/pico.min.css">
  <link rel="stylesheet" href="/gobid.css">
</head>

<body>
  <header class="container with-line">
    <nav>
      <ul>
        <li><strong><a href="/">{{.Title}}</a></strong></li>
      </ul>
      <ul>
      {{ if .User.IsAdmin }}
        <li><a href="/eventscsv">Download</a></li>
      {{ end }}
      </ul>
      <ul>
        {{if .User.Username}}
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login?r=/events">Login</a></li>
        {{end}}
      </ul>
  </header>

  <main class="container">
  {{ if .User.IsAdmin }}
    <table class="striped">
      <thead>
        <tr>
          <th>Event</th>
          <th data-align="center">Succeeded</th>
          <th>Username</th>
          <th>Message</th>
          <th>When</th>
        </tr>
      </thead>

      <tbody>
      {{ range .Events }}
        <tr>
          <td>{{.Name}}</td>
          <td data-align="center">{{.Succeeded}}</td>
          <td>{{.Username}}</td>
          <td>{{.Message}}</td>
          <td>{{(ToTimeZone .Created "America/Chicago").Format "2006-01-02 03:04 PM MST" }}</td>
        </tr>
      {{ end }}
      </tbody>
    </table>
    {{ else }}
    <p>
      You must <a href="/login?r=/events">Login</a> as an administrator to see events.
    </p>
    {{ end }}
  </main>
</body>
</html>
