<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pico.min.css">
  </head>
  <body>
    <header class="container" style="background-color: darkblue; color: white; padding: 0.5rem;">
      <strong>{{ .Title }} Gallery</strong>
    </header>

    <nav class="container">
      {{ if .User.Username }}
      <ul>
        <li>Hello {{ .User.FullName }}</li>
        <li><a href="/items">List of Items</a></li>
        <li><a href="/logout">Logout {{.User.Username}}</a></li>
      </ul>
      {{ else }}
      <ul>
        <li><a href="/login">Login</a> or <a href="/register">Register</a> to bid.</li>
        <li><a href="/items">List of Items</a></li>
      </ul>
      {{ end }}
    </nav>

    <main class="container">
      <section style="text-align: center; margin-top: 1rem;">
        {{.Message}}
      </section>

      <section
        style="
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
          gap: 1.5rem;
          margin-top: 2rem;
        "
      >
        {{ range .Items }}
        <a href="/item/{{ .ID }}" style="text-decoration: none;">
          <article style="height: 300px; display: flex; flex-direction: column; justify-content: space-between;">
            <img src="images/thumbnails/{{ .ImageFileName }}" alt="{{ .Title }}" style="max-height: 200px; width: 100%; object-fit: contain;">
            <footer style="text-align: center;">
              {{if .Artist}}{{ .Artist }}<br>{{end}}
              {{ .Title }}<br>
              {{ if eq .OpeningBid 0.0 -}}
              Display Only
              {{- else -}}
                {{- if .CurrentBid -}}
                {{ printf "$%9.2f" .CurrentBid }}
                {{- else -}}
                {{ printf "$%9.2f" .OpeningBid }}
                {{- end -}}
              {{ end }}
            </footer>
          </article>
        </a>
        {{ end }}
      </section>
    </main>
  </body>
</html>
