<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <meta name="description" content="Browse the items available for bidding or display.">
  <title>{{.Title}} Items</title>
  <link rel="stylesheet" href="/pico.min.css">
  <link rel="stylesheet" href="/gobid.css">
</head>

<body>
  <header class="container-fluid with-line">
    <nav aria-label="Primary navigation">
      <ul>
        <li><a href="/"><strong>{{.Title}}</strong></a></li>
      </ul>
      <ul>
        {{if .User.IsAdmin}}
        <li><a href="/edit/0">New Item</a></li>
        {{end}}
        {{if .User.Username}}
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login?r=/items">Login</a></li>
        {{ end }}
      </ul>
    </nav>
  </header>

  <main class="container-fluid">
    <h1 class="text-center">{{.Title}} Items</h1>

    {{if .Items}}
    <table class="striped">
      <caption>Items Available</caption>

      <thead>
        <tr>
          <th scope="col" data-align="right">ID</th>
          <th scope="col">Artist/Donor</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col" data-align="right">Opening</th>
          <th scope="col" data-align="right">Increment</th>
          <th scope="col" data-align="right">Current</th>
          <th scope="col">Bidder</th>
          {{if .User.IsAdmin}}
          <th scope="col">Image File</th>
          {{end}}
        </tr>
      </thead>

      <tbody>
      {{range .Items}}
        <tr>
          <td data-align="right">
          {{if $.User.IsAdmin}}
            <a href="/edit/{{.ID}}">{{.ID}}</a>
          {{else}}
            {{.ID}}
          {{end}}
          </td>
          <td>{{.Artist}}</td>
          <td>{{.Title}}</td>
          <td>{{.Description}}</td>
          <td data-align="right">{{printf "$%.2f" .OpeningBid}}</td>
          <td data-align="right">{{printf "$%.2f" .MinBidIncr}}</td>
          <td data-align="right">{{printf "$%.2f" .CurrentBid}}</td>
          <td>{{.Bidder}}</td>
          {{if $.User.IsAdmin}}
          <td>{{.ImageFileName}}</td>
          {{end}}
        </tr>
      {{end}}
      </tbody>
    </table>
    {{else}}
    <p>No items are currently available.</p>
    {{end}}
  </main>
</body>

</html>
