<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css">
  </head>
  <body>
    <div class="w3-container w3-mobile w3-indigo w3-large w3-padding">
      <b>{{ .Title }} Item</b>
    </div>

    <div class="w3-bar w3-mobile w3-light-grey">
      <div class="w3-bar-item w3-mobile">
        <a href="/gallery">Return to Gallery</a>
      </div>
      <div class="w3-bar-item w3-mobile">
        <a href="/item/{{ .Item.ID }}">Refresh Item</a>
      </div>
      {{- if .User.Admin}}
      <div class="w3-bar-item w3-mobile">
        <a href="/edit/{{ .Item.ID }}">Edit Item</a>
      </div>
      {{- end }}
      <div class="w3-bar-item w3-right w3-mobile">
      {{- if .User.UserName }}
        <a href="/logout">Logout {{ .User.UserName }}</a>
      {{ else }}
      <a href="/login?r=/item/{{.Item.ID}}">Login</a> or <a href="/register">Register</a> to bid.
      {{ end -}}
      </div>
    </div>

    <div class="w3-row w3-mobile w3-padding">
      <div class="w3-container w3-half w3-mobile w3-center">
        <img src="/images/{{.Item.ImageFileName}}" alt="{{.Title}}" class="w3-image w3-mobile" style="max-height: 85vh;">
      </div>

      <div class="w3-container w3-half w3-mobile w3-center">
        <div class="w3-container w3-mobile w3-center w3-section">
          <div class="w3-container w3-mobile w3-xlarge">
            <b>{{.Item.Artist}}<br>{{.Item.Title}}</b>
          </div>
          <div class="w3-container w3-mobile">
            {{ .Item.Description }}
          </div>
        </div>

        <div class="w3-container w3-mobile w3-center w3-section">
          {{ if eq .Item.OpeningBid 0.0 }}
          This item is display only.
          {{ else }}
          <p>
            <b>Current&nbsp;Price:</b>
            {{if .Item.CurrentBid}}
            ${{ printf "%.2f" .Item.CurrentBid }}
            {{else}}
            ${{ printf "%.2f" .Item.OpeningBid }}
            {{end}}
          </p>
          <p>
            <b>Minimum&nbsp;Bid:</b>
            ${{ printf "%.2f" .Item.MinBid }}
          </p>
          {{ end }}
        </div>

        <div class="w3-container w3-mobile w3-center w3-section">
          {{ if and (.User.UserName) (ne .Item.OpeningBid 0.0) }}
          <div class="w3-container w3-mobile">
            <form method="post" class="w3-container w3-mobile">
              <div class="w3-row w3-mobile">
                <div class="w3-third w3-container w3-mobile">
                  <label for="bidAmount"><b>Your Bid:</b></label>
                </div>
                <div class="w3-third w3-container w3-mobile">
                  <input class="w3-input w3-mobile w3-right-align" type="text" placeholder="Enter your Bid Amount" id="bidAmount" name="bidAmount" maxlength="30" autofocus required value="{{ .Item.MinBid }}">
                </div>
                <div class="w3-third w3-container w3-mobile">
                  {{if .IsAuctionOpen}}
                  <button type="submit" class="w3-button w3-mobile w3-indigo">Place Bid</button>
                  {{else}}
                  Auction Closed
                  {{end}}
                </div>
              </div>
            </form>

            <div class="w3-container w3-mobile">
              {{ if .Message }} {{ .Message }} {{ else }} You must bid at least {{ printf "$%10.2f" .Item.MinBid }}. {{ end }}
            </div>
          </div>
          {{ end }}
          {{ if not .User.UserName }}
          <div class="w3-container w3-padding w3-mobile">Please <a href="/login">Login</a> or <a href="/register">Register</a> to bid.</div>
          {{ end }}
        </div>

        <div class="w3-container w3-mobile w3-center w3-section">
          {{ if .Item.CurrentBid }}
          <div class="w3-container w3-padding w3-mobile">
            Last bid at {{ .Item.Modified.Format "1/02/06 3:04 PM" }} by {{ .Item.ModifiedBy }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </body>
</html>
