<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/w3.css" />
  </head>
  <body>
    <div class="w3-container w3-mobile w3-indigo w3-large w3-padding">
      <b>{{.Title}} Items</b>
    </div>

    <div class="w3-bar w3-mobile w3-light-grey">
      <div class="w3-bar-item w3-mobile"><a href="/gallery">Gallery</a></div>
      {{ if .User.Admin }}
      <div class="w3-bar-item w3-mobile"><a href="/edit/0">New Item</a></div>
      {{ end }}
      <div class="w3-bar-item w3-mobile w3-right">
      {{if .User.UserName}}
        <a href="/logout">Logout {{.User.UserName}}</a>
      {{else}}
        <a href="/login?r=/items">Login</a>
      {{end}}
      </div>
    </div>

    <table class="w3-container w3-mobile w3-table w3-striped w3-responsive">
      <tr>
        {{if .User.Admin}}<th></th>{{end}}
        <th class="w3-right-align w3-mobile">ID</th>
        <th>Artist/Donor</th>
        <th>Title</th>
        <th>Description</th>
        <th>Opening</th>
        <th>Increment</th>
        <th>Current</th>
        <th>Bidder</th>
	{{if .User.Admin}}<th>Image File</th>{{end}}
      </tr>
      {{range .Items}}
      <tr>
        {{if $.User.Admin}}<td><a href="edit/{{.ID}}">Edit</a></td>{{end}}
        <td class="w3-right-align w3-mobile">{{.ID}}</td>
        <td>{{.Artist}}</td>
        <td>{{.Title}}</td>
        <td>{{.Description}}</td>
        <td class="w3-right-align w3-mobile" style="white-space:nowrap">{{printf "$%10.2f" .OpeningBid}}</td>
        <td class="w3-right-align w3-mobile" style="white-space:nowrap">{{printf "$%10.2f" .MinBidIncr}}</td>
        <td class="w3-right-align w3-mobile" style="white-space:nowrap">{{printf "$%10.2f" .CurrentBid}}</td>
        <td>{{.Bidder}}</td>
	{{if $.User.Admin}}<td>{{.ImageFileName}}</td>{{end}}
      </tr>
      {{end}}
    </table>
  </body>
</html>
