<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <meta name="description" content="List of registered users.">
  <title>{{.Title}} - Users</title>
  <link rel="stylesheet" href="/pico.min.css">
  <link rel="stylesheet" href="/gobid.css">
</head>

<body>
  <a class="skip-link" href="#main">Skip to main content</a>
  <header class="app-header">
      <nav class="container" aria-label="Primary navigation">
        <ul>
          <li><a href="/"><strong>{{.Title}}</strong></a></li>
        </ul>
        {{if .User.IsAdmin}}
        <ul>
          <li><a href="/userscsv">Download CSV</a></li>
        </ul>
        {{end}}
        <ul>
          {{if .User.Username}}
          <li><a href="/logout">Logout {{.User.Username}}</a></li>
          {{else}}
          <li><a href="/login?r=/users">Login</a></li>
          {{end}}
        </ul>
      </nav>
  </header>

  <main id="main" tabindex="-1" class="container-fluid">
    <h1 class="text-center">Registered Users</h1>

    {{if .User.IsAdmin}}
    <table class="striped">
      <caption class="visually-hidden">Registered users</caption>
      <thead>
        <tr>
          <th scope="col">Username</th>
	        <th scope="col">Full name</th>
          {{if $.User.IsAdmin}}
	        <th scope="col">Email</th>
	        <th scope="col" data-align="center">Admin</th>
	        <th scope="col">Created</th>
          {{end}}
        </tr>
      </thead>

      <tbody>
      {{range .Users}}
        <tr>
        	<td>{{.Username}}</td>
        	<td>{{.FullName}}</td>
        	<td>{{.Email}}</td>
        	<td
            data-align="center"
            data-status="{{.IsAdmin}}"
          >
          {{if .IsAdmin}}
            &check;<span class="visually-hidden">Yes</span>
          {{else}}
            &cross;<span class="visually-hidden">No</span>
          {{end}}
          </td>
          <td>{{(ToTimeZone .Created "America/Chicago").Format "2006-01-02 03:04 PM MST"}}</td>
        </tr>
      {{end}}
      </tbody>
    </table>
    {{else}}
    <p class="container">
      You must <a href="/login?r=/users">Login</a> as an administrator
      to view registered users.
    </p>
    {{end}}
  </main>
</body>

</html>
